<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1 class="title"> Prézer app API! </h1>
      <p class="subtitle">
        Prézer est une application web et mobile de livraison de préservatif à domicile.
      </p>

      <ul>
        <li>
          Version: 1.1 
        </li>

        <li>
          Dernière mise à jour: 18 Avril 2022 
        </li>

        <li>
          Si vous rencontrer des problèmes, Retrouvez nous <a href="#">Instagram</a> ou sur <a href="#">WhatsApp</a>.
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
